/* Card styles */
.container {
    width: fit-content;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background: lightgray;
    margin: 0 20px;
    background-image: url('desktop-wallpaper-rick-y-morty-iphone-rick-morty-poster-rick-con-respecto-iphone-rick-and-morty-rick-and-morty-fan-art-thumbnail.jpg');
    background-size: 100% 100%; 
    background-repeat: no-repeat;
  }

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }

.card {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
  border: 0.3px solid #8ebff3;
  border-radius: 0.5rem;
  box-shadow:  4px 4px rgba(0, 0, 0, 0.1);
  background-color: #332929;
}

.card:hover{
  transform: scale(1.1);
  box-shadow: 10px 6px 10px 7px rgb(139, 252, 148);
  transform: translateY(10px);
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.content {
  padding: 1rem;
  text-align: center;
}

.content h4 {
  margin: 0 0 0.5rem 0;
  font-size: 1.5rem;
  color: white;
}

.content p {
  margin: 0.25rem 0;
  font-size: 22px;
  text-align: left;
  color: white;
}

h1 {
text-align: center;
color: #4CAF50;
}

header {
  background-color: #070707;
  height: 282px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  max-width: 100%;
  height: auto;
}


body {
    background-color: black;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

 /* Style buttons */
.like-btn, .dislike-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
}

/* Style the count */
.like-count {
  font-size: 20px;
  color: whitesmoke;
}

.dislike-count{
  font-size: 20px;
  color: whitesmoke;
}

 /* like dislike div */
.like-dislike-btn{
  width: 100%;
  padding: auto;
  display: flex;
  align-items: center;
}

.like-btn{
  /* color: #19d11f; */
  text-align: center;
  margin-left: 0%;
  font-size: large;
}

.like-btn:hover{
  color: #19d11f;
}

.dislike-btn{
  text-align: center;
  margin-left: auto;
  font-size: large;
}

.dislike-btn:hover{
  color: red;
}
